@charset "UTF-8";
/* CSS Document */

img {
    background-image: url('../img/purple_lines.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#index BODY { COLOR: #ffffff /*The color of all the other text within the body of the page*/
{ 